<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>GeoDeliberator</title>
	</head>
	<body>
	<div class='message'>
	    <label> {{ message }} </label>
		
	</div>
	<form action='' method='POST'>
	    <table>
		<thead><label class='header'>Actions:</label></thead>
		<tbody>
		    <tr> 
				<td>
					<label for='forumId'>Maintenance Forum Id: </label>
				</td>
				<td>
					<input type='text' name='forumId' value='13'><br>
				</td> 
			</tr>
		    
			<tr> <td>
			</td><td>
			<input type='submit' value='Action!'>
		    </td></tr>
		</tbody>
	    </table>
	</form>
	</body>
</html>
