<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>GeoDeliberator</title>
		<link rel="stylesheet" type="text/css" href=".{{ STATIC_URL }}lib/ext-3.2.1/resources/css/ext-all.css">
		<link rel="stylesheet" type="text/css" href=".{{ STATIC_URL }}lib/ext-3.2.1/resources/css/xtheme-gray.css">
		<script type="text/javascript" src=".{{ STATIC_URL }}lib/ext-3.2.1/adapter/ext/ext-base.js"></script>
		<script type="text/javascript" src=".{{ STATIC_URL }}lib/ext-3.2.1/ext-all.js"></script>
<!--		<script type="text/javascript" src="lib/ext/data-view-plugins.js"></script>-->
<!--    	<script type="text/javascript" src="lib/OpenLayers/lib/OpenLayers.js"></script>-->
<!--		<script type="text/javascript" src="OpenLayers/OpenLayers.js"></script>-->
		<script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>
<!--		<script type="text/javascript">
        	Timeline_ajax_url='lib/timeline/timeline_ajax/simile-ajax-api.js';
        	Timeline_urlPrefix='lib/timeline/timeline_js/';       
        	Timeline_parameters='bundle=true&timeline-use-local-resources=true';
    	</script>
    	<script src="lib/timeline/timeline_js/timeline-api.js" type="text/javascript"></script>
-->		
<!--		<script type="text/javascript" src="lib/JIT/Spacetree.js"></script>-->
		<script type="text/javascript" src=".{{ STATIC_URL }}lib/raphael-min.js"></script>
<!--		
		<script type="text/javascript" src="lib/MooTools/mootools-1.2.1-core-nc.js"></script>
		<script type="text/javascript" src="lib/MooTools/mootools-1.2-more.js"></script>
		<script type="text/javascript" src="lib/JIT/Treemap.js"></script>
-->		
		<!-- custom includes -->
    	<link rel="stylesheet" type="text/css" href=".{{ STATIC_URL }}styles/ext_main.css">
		<script type="text/javascript" src=".{{ STATIC_URL }}lib/XMLWriter.js"></script>
<!--	    <script type="text/javascript" src="js/GeoAnnotator.min.js"></script>

-->	     
        <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAYtdeaf8I3MU_0Hkv4cr1_xSCwEGung5EHhxRtlSoEmDbQaDD-BT_PzzcOpCOGgLx_xpJF5nUU-ijHw" type="text/javascript"></script>
        <script type="text/javascript" src=".{{ STATIC_URL }}js/GeoAnnotator.js"></script>
	    <script type="text/javascript" src=".{{ STATIC_URL }}js/ext_layout.js"></script>
		
	</head>
	<body>
		<!-- header-->
		<div id="header">
		    <h1>GeoDeliberator</h1>
		</div>
		<div id="footer">© 2010 The Pennsylvania State University.</div>
	</body>
</html>
