<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>GeoDeliberator</title>
    </head>
    <body>
	<form action='' method='POST'>
	    <label for='nameInput'>User name: </label><input type='text' name='nameInput' id='nameInput'><br>
	    <label for='passInput'>Password: </label><input type='password' name='passInput' id='passInput'><br>
	    <input type='submit' value='Register!'>
	</form>
	<form action='' method='POST'>
	    <label for='nameInput'>User name: </label><input type='text' name='nameInput' id='nameInput'><br>
	    <label for='passInput'>Password: </label><input type='password' name='passInput' id='passInput'><br>
	    <input type='submit' value='Register!'>
	</form>
	<!-- header-->
	<div id="header">
	    <h1>GeoDeliberator</h1>
	</div>
	<div id="footer">© 2010 The Pennsylvania State University.</div>
    </body>
</html>
