<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>GeoDeliberator</title>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> 
		<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script> 
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/ext-3.2.1/resources/css/ext-all.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/ext-3.2.1/resources/css/xtheme-gray.css">
		<script type="text/javascript" src="{{ STATIC_URL }}lib/ext-3.2.1/adapter/ext/ext-base.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}lib/ext-3.2.1/ext-all.js"></script>
<!--		<script type="text/javascript" src="lib/ext/data-view-plugins.js"></script>-->
<!-- <script type="text/javascript" src="{{ STATIC_URL }}lib/OpenLayers/lib/OpenLayers.js"></script> -->
<!--		<script type="text/javascript" src="OpenLayers/OpenLayers.js"></script>-->
		<script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>
<!--		<script type="text/javascript">
        	Timeline_ajax_url='lib/timeline/timeline_ajax/simile-ajax-api.js';
        	Timeline_urlPrefix='lib/timeline/timeline_js/';       
        	Timeline_parameters='bundle=true&timeline-use-local-resources=true';
    	</script>
    	<script src="lib/timeline/timeline_js/timeline-api.js" type="text/javascript"></script>
-->		
<!--		<script type="text/javascript" src="lib/JIT/Spacetree.js"></script>-->
		<script type="text/javascript" src="{{ STATIC_URL }}lib/raphael-min.js"></script>
<!--		
		<script type="text/javascript" src="lib/MooTools/mootools-1.2.1-core-nc.js"></script>
		<script type="text/javascript" src="lib/MooTools/mootools-1.2-more.js"></script>
		<script type="text/javascript" src="lib/JIT/Treemap.js"></script>
-->		
		<!-- custom includes -->
    	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/ext_main.css">
		<script type="text/javascript" src="{{ STATIC_URL }}lib/XMLWriter.js"></script>
<!--	    <script type="text/javascript" src="js/GeoAnnotator.min.js"></script>

-->	     
        <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery.msgbox.7.1/jquery.msgbox.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery.msgbox.7.1/jquery.dragndrop.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/jquery.msgbox.7.1/jquery.msgbox.css">
<!--	<script type='text/javascript' src='{{ STATIC_URL }}lib/jquery.msgbox/scripts/jquery.msgBox.js'></script>
<link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery.msgbox/styles/msgBoxLight.css" />	-->

        <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=AIzaSyCPWMaP2464g2fgX0hyKJm39BiYmIu-hwo" type="text/javascript"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/questionnaire/GeoAnnotator.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/questionnaire/ext_layout.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/questionnaire/displayQuestions.js"></script>
		
	</head>
	<body>
		<!-- header-->
		<div id="header">
		    <h1>GeoDeliberator</h1>
		</div>
		<input type='hidden' id='userId' value='{{ userId }}'>
		<input type='hidden' id='userName' value='{{ userName }}'>
		<div id="footer">© 2010 The Pennsylvania State University.</div>
		<div id="dialog-confirm" title="Delete your route?">
		    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>The route will be permanently deleted and cannot be recovered. Are you sure?</p>
		</div>
	</body>
</html>
