<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> 
	<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script> 
	<script src="{{ STATIC_URL }}js/questionnaire/questions.js"></script> 
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/questions.css"/>
	<!-- for the start rating -->
	<script src='{{ STATIC_URL }}lib/star-rating/jquery.js' type="text/javascript"></script>
	<script src='{{ STATIC_URL }}lib/star-rating/jquery.MetaData.js' type="text/javascript" language="javascript"></script>
	<script src='{{ STATIC_URL }}lib/star-rating/jquery.rating.js' type="text/javascript" language="javascript"></script>
	<link href='{{ STATIC_URL }}lib/star-rating/jquery.rating.css' type="text/css" rel="stylesheet"/>
    </head>
    <body>
	{% if step == '0' %}
	<form id='typeform' action='' method='POST'>
	    <table>
		<tr> 
		    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
		    <td colspan='6' valign='middle' class='QuestionBackground'> 
			<div> 
			    <span class='QuestionTitle'>1. Do you usually walk or bike on the route you just drew? </span> 
			</div> 
			<span class='QuestionAnswers'> 
			    <table id='' class='QuestionText' border='0'> 
				<tbody><tr> 
				    <td><input type='radio' name='WalkOrBike' value='Walk'>&nbsp;Walk</td> 
				    </tr><tr> 
				    <td><input type='radio' name='WalkOrBike' value='Bike'>&nbsp;Bike</td> 
				</tr> </tbody> 
			    </table> 
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			</span> 
			<br> 
		    </td> 
		    <td class='QuestionBackground' valign='middle' align='left'> &nbsp;</td> 
		</tr> 
		<tr>
		    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
		    <td>
			<div> 
			    <input type='button' value='Back' hidden='true'><span class='buttonSeparator'>&nbsp;&nbsp;&nbsp;</span>
			    <input type='submit' value='Next'> 
			</div> 
		    </td>
		</tr>
	    </table>
	</form>
	{% endif %}
	{% if step == '1' %}
	<form action='1' method='POST'>
	    <table>
		<tr> 
		    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
		    <td colspan='6' valign='middle' class='QuestionBackground'> 
			<div> 
			    <span class='QuestionTitle'>2. What path did you use? </span> 
			</div> 
			<span class='QuestionAnswers'> 
			    <table id='' class='QuestionText' border='0'> 
				<tbody><tr> 
				    <td><input type='radio' name='pathType' value='Sidewalk'>&nbsp;Sidewalk</td> 
				    </tr><tr> 
				    <td><input type='radio' name='pathType' value='Bike'>&nbsp;Bike path / Shared use path</td> 
				    </tr><tr> 
				    <td><input type='radio' name='pathType' value='Trail'>&nbsp;Trail</td> 
				    </tr><tr> 
				    <td><input type='radio' name='pathType' value='Street'>&nbsp;Street</td> 
				    </tr><tr> 
				    <td><input type='radio' name='pathType' value='Own'>&nbsp;I had to make my own path</td> 
				</tr> </tbody> 
			    </table> 
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			</span> 
			<br> 
		    </td> 
		    <td class='QuestionBackground' valign='middle' align='left'> &nbsp;</td> 
		</tr> 
		<tr> 
		    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
		    <td colspan='6' valign='middle' class='QuestionBackground'> 
			<div> 
			    <span class='QuestionTitle'>3. The condition of this path is? </span> 
			</div> 
			<span class='QuestionAnswers'> 
			    <table id='' class='QuestionText' border='0'> 
				<tbody><tr> 
					<td>
					    <input name="pathCondition" type="radio" class="star" title="many problems" value="1"/>
					    <input name="pathCondition" type="radio" class="star" title="some problems" value="2"/>
					    <input name="pathCondition" type="radio" class="star" title="good" value="3"/>
					    <input name="pathCondition" type="radio" class="star" title="very few problems" value="4"/>
					    <input name="pathCondition" type="radio" class="star" title="excellent" value="5"/>
					</td>
				</tr> </tbody> 
			    </table> 
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			</span> 
			<br> 
		    </td> 
		    <td class='QuestionBackground' valign='middle' align='left'> &nbsp;</td> 
		</tr> 
		<tr> 
		    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
		    <td colspan='6' valign='middle' class='QuestionBackground'> 
			<div> 
			    {% if WalkOrBike == 'Walk' %}
			    <span class='QuestionTitle'>4. Ease of walking on the route: </span> 
			    {% endif %}
			    {% if WalkOrBike == 'Bike' %}
			    <span class='QuestionTitle'>4. Ease of biking on the route: </span> 
			    {% endif %}
			</div> 
			<span class='QuestionAnswers'> 
			    <table id='' class='QuestionText' border='0'> 
				<tbody><tr> 
					<td>
					    <input name="easeGoing" type="radio" class="star" title="many problems" value="1"/>
					    <input name="easeGoing" type="radio" class="star" title="some problems" value="2"/>
					    <input name="easeGoing" type="radio" class="star" title="good" value="3"/>
					    <input name="easeGoing" type="radio" class="star" title="very few problems" value="4"/>
					    <input name="easeGoing" type="radio" class="star" title="excellent" value="5"/>
					</td>
				</tr> </tbody> 
			    </table> 
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			</span> 
			<br> 
		    </td> 
		    <td class='QuestionBackground' valign='middle' align='left'> &nbsp;</td> 
		</tr> 
		<tr> 
		    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
		    <td colspan='6' valign='middle' class='QuestionBackground'> 
			<div> 
			    <span class='QuestionTitle'>5. Ease of crossing at intersection:  </span> 
			</div> 
			<span class='QuestionAnswers'> 
			    <table id='' class='QuestionText' border='0'> 
				<tbody><tr> 
					<td>
					    <input name="easeCrossing" type="radio" class="star" title="many problems" value="1"/>
					    <input name="easeCrossing" type="radio" class="star" title="some problems" value="2"/>
					    <input name="easeCrossing" type="radio" class="star" title="good" value="3"/>
					    <input name="easeCrossing" type="radio" class="star" title="very few problems" value="4"/>
					    <input name="easeCrossing" type="radio" class="star" title="excellent" value="5"/>
					</td>
				</tr> </tbody> 
			    </table> 
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			</span> 
			<br> 
		    </td> 
		    <td class='QuestionBackground' valign='middle' align='left'> &nbsp;</td> 
		</tr> 
		<tr> 
		    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
		    <td colspan='6' valign='middle' class='QuestionBackground'> 
			<div> 
			    <span class='QuestionTitle'>6. Did your path go to your destination without any detours?  </span> 
			</div> 
			<span class='QuestionAnswers'> 
			    <table id='' class='QuestionText' border='0'> 
				<tbody><tr> 
				    <td><input type='radio' name='noDetour' value='Yes'>&nbsp;Yes</td> 
				    </tr><tr> 
				    <td><input type='radio' name='noDetour' value='No'>&nbsp;No</td> 
				    </tr><tr> 
				    <td><label for='noDetourText'>Where did you run into problems: </label><input type='text' name='noDetourText' id='noDetourText'></td> 
				</tr> </tbody> 
			    </table> 
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			</span> 
			<br> 
		    </td> 
		    <td class='QuestionBackground' valign='middle' align='left'> &nbsp;</td> 
		</tr> 
		<tr>
		    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
		    <td>
			<div> 
			    <input type='button' value='Back' onclick="window.location.href='0'"><span class='buttonSeparator'>&nbsp;&nbsp;&nbsp;</span>
			    <input type='submit' value='Next'> 
			</div> 
		    </td>
		</tr>
	    </table>
	</form>
	{% endif %}
	{% if step == '2' %}
	<form id='safetyform' action='2' method='POST'>
	    <table>
		{% if WalkOrBike == 'Bike' %}
		<tr> 
		    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
		    <td colspan='6' valign='middle' class='QuestionBackground'> 
			<div> 
			    <span class='QuestionTitle'>6. How did you make your biking safer? </span> 
			</div> 
			<span class='QuestionAnswers'> 
			    <table id='' class='QuestionText' border='0'> 
				<tbody><tr> 
				    <td><input type='checkbox' name='safetyChoices' value='helmet'>&nbsp;Wore a bicycle helmet</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='safetyChoices' value='traffic rule'>&nbsp;Obeyed traffic signal and signs</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='safetyChoices' value='with traffic'>&nbsp;Rode with (not against) traffic</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='safetyChoices' value='signal'>&nbsp;Signaled my turns</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='safetyChoices' value='light'>&nbsp;Used lights, if at night</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='safetyChoices' value='clothing'>&nbsp;Wore bright or reflective clothing</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='safetyChoices' value='courteous'>&nbsp;Was courteous to other travelers</td> 
				    </tr><tr> 
				    <td><label for='safetyChoicesText'>Other: </label><input type='text' name='safetyChoicesText' id='safetyChoicesText'></td> 
				</tr> </tbody> 
			    </table> 
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			</span> 
			<br> 
		    </td> 
		    <td class='QuestionBackground' valign='middle' align='left'> &nbsp;</td> 
		</tr> 
		{% endif %}
		<tr> 
		    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
		    <td colspan='6' valign='middle' class='QuestionBackground'> 
			<div> 
			    <span class='QuestionTitle'>7. How did drivers behave on during your audit? </span> 
			</div> 
			<span class='QuestionAnswers'> 
			    <table id='' class='QuestionText' border='0'> 
				<tbody><tr> 
				    <td><input type='checkbox' name='driverBehavior' value='Fine'>&nbsp;Just Fine</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='driverBehavior' value='yield'>&nbsp;Drivers didn't yield to pedestrians</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='driverBehavior' value='speed'>&nbsp;Drivers didnt obey speed limit</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='driverBehavior' value='cutoff'>&nbsp;I was cut off by a motorist</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='driverBehavior' value='aware'>&nbsp;Drivers weren't aware of me</td> 
				    </tr><tr> 
				    <td><label for='driverBehaviorText'>Other: </label><input type='text' name='driverBehaviorText' id='driverBehaviorText'></td> 
				</tr> </tbody> 
			    </table> 
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			</span> 
			<br> 
		    </td> 
		    <td class='QuestionBackground' valign='middle' align='left'> &nbsp;</td> 
		</tr> 
		<tr>
		    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
		    <td>
			<div> 
			    <input type='button' value='Back' onclick="window.location.href='1'"><span class='buttonSeparator'>&nbsp;&nbsp;&nbsp;</span>
			    <input type='submit' value='Next'> 
			</div> 
		    </td>
		</tr>
	    </table>
	</form>
	{% endif %}
	{% if step == '3' %}
	<form id='frequencyForm' action='3' method='POST'>
	    <table>
		<tr> 
		    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
		    <td colspan='6' valign='middle' class='QuestionBackground'> 
			<div> 
			    <span class='QuestionTitle'>8. How often do you walk for the following reasons? </span> 
			</div> 
			<span class='QuestionAnswers'> 
			    <table>
				<tr>
				    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
				    <td colspan='6' valign='middle' class='QuestionBackground'> 
					<div class='SubQuestionTitle'>&nbsp;For necessities like grocery shopping or getting to work?</div>
					<table id='' class='QuestionText' border='0'> 
					    <tbody><tr> 
						    <td>
							<input name="groceryFrequency" type="radio" class="star" title="never" value="1"/>
							<input name="groceryFrequency" type="radio" class="star" title="rarely" value="2"/>
							<input name="groceryFrequency" type="radio" class="star" title="sometimes" value="3"/>
							<input name="groceryFrequency" type="radio" class="star" title="often" value="4"/>
							<input name="groceryFrequency" type="radio" class="star" title="everyday" value="5"/>
						    </td>
					    </tr> </tbody> 
					</table> 
				    </td>
				</tr>
				<tr>
				    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
				    <td colspan='6' valign='middle' class='QuestionBackground'> 
					<div class='SubQuestionTitle'>&nbsp;For fun activities like visiting friends and going for a cup of coffee?</div>
					<table id='' class='QuestionText' border='0'> 
					    <tbody><tr> 
						    <td>
							<input name="funFrequency" type="radio" class="star" title="never" value="1"/>
							<input name="funFrequency" type="radio" class="star" title="rarely" value="2"/>
							<input name="funFrequency" type="radio" class="star" title="sometimes" value="3"/>
							<input name="funFrequency" type="radio" class="star" title="often" value="4"/>
							<input name="funFrequency" type="radio" class="star" title="everyday" value="5"/>
						    </td>
					    </tr> </tbody> 
					</table> 
				    </td>
				</tr>
				<tr>
				    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
				    <td colspan='6' valign='middle' class='QuestionBackground'> 
					<div class='SubQuestionTitle'>&nbsp;For recreation or exercise?</div>
					<table id='' class='QuestionText' border='0'> 
					    <tbody><tr> 
						    <td>
							<input name="exerciseFrequency" type="radio" class="star" title="never" value="1"/>
							<input name="exerciseFrequency" type="radio" class="star" title="rarely" value="2"/>
							<input name="exerciseFrequency" type="radio" class="star" title="sometimes" value="3"/>
							<input name="exerciseFrequency" type="radio" class="star" title="often" value="4"/>
							<input name="exerciseFrequency" type="radio" class="star" title="everyday" value="5"/>
						    </td>
					    </tr> </tbody> 
					</table> 
				    </td>
				</tr>
			    </table>
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			</span> 
			<br> 
		    </td> 
		    <td class='QuestionBackground' valign='middle' align='left'> &nbsp;</td> 
		</tr> 
		<tr> 
		    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
		    <td colspan='6' valign='middle' class='QuestionBackground'> 
			<div> 
			    {% if WalkOrBike == 'Walk' %}
			    <span class='QuestionTitle'>9. Which of these would encourage you to walk more frequently? </span> 
			    {% endif %}
			    {% if WalkOrBike == 'Bike' %}
			    <span class='QuestionTitle'>9. Which of these would encourage you to bike more frequently? </span> 
			    {% endif %}
			</div> 
			<span class='QuestionAnswers'> 
			    <table id='' class='QuestionText' border='0'> 
				<tbody><tr> 
				    <td><input type='checkbox' name='encourageMethods' value='Nothing'>&nbsp;Nothing</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='encourageMethods' value='dedicated path'>&nbsp;Dedicated path to my destination</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='encourageMethods' value='closer destination'>&nbsp;My destination was closer</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='encourageMethods' value='more to do'>&nbsp;There were more things to do along the route</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='encourageMethods' value='weather'>&nbsp;The weather was better</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='encourageMethods' value='time'>&nbsp;If I had more time</td> 
				    </tr><tr> 
				    {% if WalkOrBike == 'Walk' %}
				    <td><input type='checkbox' name='encourageMethods' value='errands'>&nbsp;If I could run errands easily by walk</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='encourageMethods' value='benefits'>&nbsp;If I had a better understanding of the benefits of walking versus driving</td> 
				    {% endif %}
				    {% if WalkOrBike == 'Bike' %}
				    <td><input type='checkbox' name='encourageMethods' value='errands'>&nbsp;If I could run errands easily by bike</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='encourageMethods' value='training'>&nbsp;If I had proper training about bicycle safety</td> 
				    </tr><tr> 
				    <td><input type='checkbox' name='encourageMethods' value='benefits'>&nbsp;If I had a better understanding of the benefits of biking versus driving</td> 
				    {% endif %}
				    </tr><tr> 
				    <td><input type='checkbox' name='encourageMethods' value='drivers'>&nbsp;If drivers were more considerate</td> 
				    </tr><tr> 
				    <td><label for='encourageMethodsText'>Other: </label><input type='text' name='encourageMethodsText' id='encourageMethodsText'></td> 
				</tr> </tbody> 
			    </table> 
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			</span> 
			<br> 
		    </td> 
		    <td class='QuestionBackground' valign='middle' align='left'> &nbsp;</td> 
		</tr> 
		<tr>
		    <td class='QuestionBackground' valign='middle' align='left' height='75'> &nbsp;</td> 
		    <td>
			<div> 
			    <input type='button' value='Back' onclick="window.location.href='2'"><span class='buttonSeparator'>&nbsp;&nbsp;&nbsp;</span>
			    <input type='submit' value='Next'> 
			</div> 
		    </td>
		</tr>
	    </table>
	</form>
	{% endif %}
	{% if step == '4' %}
	Great! Thanks for your feedback about your overall feeling about the route. <br><br>
	Now please use the <b>Markers</b> tools in the left top to describe specific places along the route.
	{% endif %}
    </body>
</html>
