ul {
    padding: 10px;
    margin: 0px;
}
.EditBtn {
    position:absolute;
    right:30px;
    width:60px;
}

.Separator {
    height:10px;
}
.InfoGroup {
    background-color:#EBEBEB;
    margin: 5px;
}
